/* header section */
.header{
    background-color:#d8b5cd59;
}

.banner{
    display: flex;
    padding: 30px 30px 0px 90px;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner-dis{
    margin-top: 30px;
    text-align: justify;
    color: gray;
    
}
.btn{
    background-color: palevioletred;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 50px;
    color: white;
}
.first-flower{
    width: 350px;
    padding-top: 5px;
    padding-right: 100px;
}
.banner-title{
    font-size: 50px;
}
 /* hot deal */
 .section-background{
    background-color:rgba(229, 84, 115, 0.05);
    margin-top: 100px;
 }
 .all-project{
    display: flex;
    padding: 30px 30px 0px 90px;
    align-items: center;
    justify-content: space-between;
 }
 #span{
    color: #E55473;
 }
 .hot-content{
    max-width: 500px;
    padding-left: 70px;
    text-align: center;
 }
 .second-flower{
    width: 180px;
    padding: 100px;
    padding-right: 250px;
 }

 /* instagram */
 .instagram-all{
    text-align: center ;
    font-weight: 100px;
    padding-top: 50px;
 }
 .instagram-dis{
    color: gray;
 }



/* section four photo */
.four-photo{
    display: flex;
    padding: 0px 240px;
}
.photo{
    height: 250px;
    width: 200px;
    padding: 10px 5px;
}